@font-face {
    font-family: 'AireExterior';
    src: url('media/AireExterior.ttf');
}
html{
    margin: 0;
    padding: 0;
    font-family: 'AireExterior';
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #000000;
}
a, button {
    all: unset;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header{
    width: 50vh;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size:6vh;

}
.bot{
    width: 50vw;
}
@media (min-width: 100vh) {
    .bot{
        width: 50vh;
    }
}
.image-holder{
    background: linear-gradient(#00000000,#000000FF),url("media/bg.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;

}
.download{
    color: white;
    font-size: 5vh;
    border-style: none;
    text-decoration: none;
    vertical-align: middle;
    width: 30vh;
    height: calc(30vh/2.2159);
    line-height: 1.5;
    background-image: url("media/Button\ Short\ FillA.png");
    background-size: cover;
    display: flex;
    margin: auto;
    z-index:100;

}
.download:hover{
    background-image: url("media/Button\ Short\ FillB.png");
    transform: scale(1.25);
    transition: 100ms;
}
.download:active{
    background-image: url("media/Button\ Short\ FillC.png");
    transform: scale(0.75);
    transition: 100ms;
}
.download-zone{
    width: 100%;
    height: auto;
    margin: -20vh 0;
    z-index: 100;
    position:relative
}
.button-text{
     color: white;
    margin: auto;
}
.nav-panel{
    background-color:#E3D23E ;
}
.nav-panel-spacing{
    justify-content:space-evenly;
    display: flex;
    width: 75%;
    margin: auto;
}
.nav-button{
    background-color: #00000000;
    border: none;
    font-size: 3vh;
    padding: 2vh;
    transition: 250ms;
}
.nav-button:hover{
    background-color: #337776;
    -webkit-box-shadow: inset 10px 10px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 25px 0px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 25px 0px rgba(0,0,0,0.75);
    color: rgb(167, 167, 167);
}
.nav-button:active{
    background-color: #E3D23E;
    -webkit-box-shadow: 10px 10px 25px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 25px 5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 25px 5px rgba(0,0,0,0.75);
    color: black;
}

@media (max-width: 100vh) {
    .nav-panel-spacing{
        justify-content:space-evenly;
        display: grid;
        width: 75%;
        margin: auto;
    }
    .nav-button{
        background-color: #00000000;
        border: none;
        font-size: large;
        padding: 0.5vh;
        transition: 250ms;
    }
}


.separator{
    background-color:#4C5869 ;
    width: 100%;
    height: 0.5vh;
}
.image-blur{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}

.to-be-added{
    text-decoration: line-through;
}
.about-zone{
    margin: 40vh auto auto auto;
    color: white;
    font-size: 3vh;
    width: 90vh;
    
}
.about-header{
    padding: 1vh;
    font-size: 5vh;
}
@media (max-width: 100vh) {
    .about-zone{
        margin: 60vh auto auto auto;
        width: 90%;

    }
    .download-zone{
        margin: -30vh 0;
    }
}
.change-log-zone{
    background-color: blue;
    width: 100%;
    height: auto;
    
}
.card-holder{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: -5vh;
}
.version-card{
    width: 40vw;
    height: 30vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: black;
    color: white;
    border-radius: 3vh ;
    padding: 5vh;
    text-align: left;
    overflow:auto;
}
.version-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
}
.version-name{
    float: left;
    font-size: 5vh;
}
.version-date{
    float: right;
    font-size: 3vh;
    color: #bbb;;
}
.list-item{
    margin-bottom: 2.5vh;
    font-size: 2.5vh;
}
.version-header{
    padding: 1vh;
    font-size: 5vh;
    padding-top: 5vh;
    color: white;
}